<div class="container">
  <div class="col-md-4">
    <div class="row">
    <!-- <div class="col-md-4 hidden-sm hidden-xs"> -->
      <div class="col-xs-6">
        <div class="qrcode">
          <div class="text-center title ">
            微博二维码
            <%= image_tag "微博.png" %>
          </div>
          
        </div>  
      </div>
      <div class="col-xs-6">
        <div class="qrcode">
          <div class="text-center title">
            微信二维码
            <%= image_tag "微信.png" %>
          </div>
        </div>  
      </div>
    </div>
  <!-- </div> -->
</div>
<div class="footer-info">
  <!-- <div class="container"> -->
    <div class="row text-center">
      <small>©Copyright 2014-2015 大唐邦彦（上海）信息技术有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;沪ICP备15001809号</small>
    </div>
  </div>
  <!-- </div> -->
</div>