<div class="container">
  <div class="col-md-8">
    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <div class="footer-part">
          <h5>关于我们</h5>
          <ul>
            <li>公司架构</li>
            <li>领导介绍</li>
            <li>荣誉奖励</li>
            <li>大事记</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="footer-part">
          <h5>新闻中心</h5>
          <ul>
            <li>新闻资讯</li>
            <li>行业动态</li>
            <li>合作支持</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="footer-part">
          <h5>联系我们</h5>
          <ul>
            <li>地图</li>
            <li>招聘</li>
            <li>意见反馈</li>
            <li>联系电话</li>
          </ul>
        </div>
      </div>
        <div class="col-sm-3 col-xs-6">
          <div class="footer-part">
            <h5>友情链接</h5>
            <ul>
              <li>大唐电信</li>
              <li>大唐移动</li>
              <li>慕课网</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 hidden-sm hidden-xs">
      <div class="qrcode">
        <%= image_tag "qrcode.png" %>
        <%= image_tag "qrcode.png" %>  
      </div>
    </div>
  </div>

</div>