<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-sm-2 text-center">
				<h4><strong>微信二维码</strong></h4>
				<%= image_tag("wechat.png")%>
			</div>
			<div class="col-xs-6 col-sm-2 text-center">
				<h4><strong>微博二维码</strong></h4>
				<%= image_tag("micropost.png")%>
			</div>
			<div class="col-xs-12 col-sm-8 footer text-center">
				<small>©Copyright 2014-2015 大唐邦彦（上海）信息技术有限公司 沪ICP备15001809号</small>
			</div>
		</div>
	</div>
</div>