<div class="col-md-3 nav_list">
        <ul class="list-group">
          <li class="list-group-item cases_left_nav"><strong>成功案例</strong></li>
          <li class="list-group-item list_item"><a href="#">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp教育合作案例</a></li>
          <li class="list-group-item list_item"><a href="#">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp培训案例</a></li>
          <li class="list-group-item list_item"><a href="#">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp行业信息化案例</a></li>
        </ul>
    </div>