<div class="col-md-3 nav_list">
      <div class="col-md-12">
        <ul class="list-group">
          <li class="list-group-item cases_left_nav active"><strong>成功案例</strong></li>
          <li class="list-group-item list_item"><a href="#"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>教育合作案例</a></li>
          <li class="list-group-item list_item"><a href="#"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>培训案例</a></li>
          <li class="list-group-item list_item"><a href="#"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>行业信息化案例</a></li>
        </ul>
      </div>
    </div>