<div class="col-md-3 nav_list">
        <ul class="list-group">
          <li class="cases_left_nav"><strong>成功案例</strong></li>
          <li class="list_item"><a href="#">教育合作案例</a></li> <hr class="divider">
          <li class="list_item"><a href="#">培训案例</a></li> <hr class="divider">
          <li class="list_item"><a href="#">行业信息化案例</a></li> <hr class="divider">
        </ul>
    </div>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp