<div class="container-fluid cases_pg">
  <%= image_tag "cases_bj.png", width: "80%" %>
</div>
<div class="container-fluid gray-panel">
  <div class="container cases_content">
    <div class="col-md-3 nav_list">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item cases_left_nav active"><strong>成功案例</strong></li>
        <li class="list-group-item"><a href="#"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>教育合作案例</a></li>
        <li class="list-group-item"><a href="#"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>培训案例</a></li>
        <li class="list-group-item"><a href="#"> <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>行业信息化案例</a></li>
      </ul>
    </div>
    </div>

    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading cases_show_t">
          <h3 class="panel-title">
          <%= image_tag "news_nav_icon.png"%><span>当前位置/首页/成功案例</span>
          </h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <% (1..7) .each do |i| %>
            <div class="col-sm-6 col-md-6">
              <div class="thumbnail cases_show_a">
                <%= image_tag "cases_1.png"%>
                <h3>多功能ICT展厅</h3>
              </div>  
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
多功能ICT展厅 移动通信实训室 WEB软件开发实训室 IOS软件开发实训室
物联网实训室 智慧农业实训系统 设备管理实训系统 