<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators buoyan-tec-carousel">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= link_to(image_tag("home-4.jpg", style: "width: 100%", class: "banner-margin carousel-image", alt: "大唐邦彦(上海)信息技术有限公司"), "#") %>
    </div>
    <div class="item">
      <%= image_tag "home-1.jpg", style: "width: 100%", class: "banner-margin carousel-image", alt: "大唐邦彦(上海)信息技术有限公司"%>
    </div>
    <div class="item">
      <%= image_tag "home-2.jpg", style: "width: 100%", class: "banner-margin carousel-image", alt: "大唐邦彦(上海)信息技术有限公司"%>
    </div>
    <div class="item">
      <%= image_tag "home-3.jpg", style: "width: 100%", class: "banner-margin carousel-image", alt: "大唐邦彦(上海)信息技术有限公司"%>
    </div>
  </div>
</div>