<div class="container">
  <div class="col-md-3">
    <div class="thumbnail">
      <%= image_tag "index_info1.png" %>
      <div class="caption">
        <h4 class="text-center">培训</h4>
        <p class="text-muted">
          大唐邦彦聚焦移动互联网。。。
        </p>
      </div>
    </div>
  </div>  
  <div class="col-md-3">
    <div class="thumbnail">
      <div class="caption">
        <h4 class="text-center">培训</h4>
        <p class="text-muted">
          大唐邦彦聚焦移动互联网。。。
        </p>
      </div>
      <%= image_tag "index_info2.png" %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <%= image_tag "index_info3.png" %>
      <div class="caption">
        <h4 class="text-center">培训</h4>
        <p class="text-muted">
          大唐邦彦聚焦移动互联网。。。
        </p>
      </div>
    </div>
  </div>  
  <div class="col-md-3">
    <div class="thumbnail">
      <div class="caption">
        <h4 class="text-center">培训</h4>
        <p class="text-muted">
          大唐邦彦聚焦移动互联网。。。
        </p>
      </div>
      <%= image_tag "index_info4.png" %>
    </div>
  </div>
</div>  
