<div class="container intro">
  <div class="row">
    <div class="col-md-2 col-md-offset-5 h-line">
      核心业务
      <span class="caret"></span>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
      <%= image_tag "index_info1.png" %>
      <div class="caption">
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3">
            <h4 class="text-center intro-title ">培  训</h4>
          </div>
        </div>
        <p class="text-muted">
          大唐邦彦聚焦移动互联网。。。
        </p>
      </div>
    </div>
  </div>  
  <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
      <div class="caption">
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3">
            <h4 class="text-center intro-title ">DTCE认证</h4>
          </div>
        </div>
        <p class="text-muted">
          大唐邦彦聚焦移动互联网大唐邦彦聚焦移动互联网大唐邦彦聚焦移动互联网大唐邦彦聚焦移动互联网大唐邦彦聚焦移动互联网大唐邦彦聚焦移动互联网大唐邦彦聚焦移动互联网大唐邦彦聚焦移动互联网大唐邦彦聚焦移动互联网大唐邦彦聚焦移动互联网大
        </p>
      </div>
      <%= image_tag "index_info2.png" %>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
      <%= image_tag "index_info3.png" %>
      <div class="caption">
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3">
            <h4 class="text-center intro-title ">校企合作</h4>
          </div>
        </div>
        <p class="text-muted">
          大唐邦彦聚焦移动互联网。。。
        </p>
      </div>
    </div>
  </div>  
  <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
      <div class="caption">
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3">
            <h4 class="text-center intro-title ">在线教育</h4>
          </div>
        </div>
        <p class="text-muted">
          大唐邦彦聚焦移动互联网。。。
        </p>
      </div>
      <%= image_tag "index_info4.png" %>
    </div>
  </div>
</div>  
