<div class="container report">
  <div class="row">
    <div class="col-md-2 col-md-offset-5 h-line">
      新闻资讯
      <span class="caret"></span>
    </div>
  </div>
  <div class="row report-row">
    <div class="col-md-6 report-image">
       <%= image_tag "index-reports1.jpg", width: "100%", height: "auto" %>
    </div>
    <div class="col-md-6 report-list">
      <div class="list-group">
        <a href="#" class="list-group-item hover">
          <h5 class="list-group-item-heading">大唐电信集团荣获"中国企业文化建设典范十强"奖 <small>[2014-12-15]</small></h5>
          <p class="list-group-item-text">1<br/>2<br/>3</p>
        </a>
        <a href="#" class="list-group-item">
          <h5 class="list-group-item-heading">大唐电信集团荣获"中国企业文化建设典范十强"奖 <small>[2014-12-15]</small></h5>
          <p class="list-group-item-text"></p>
        </a>
        <a href="#" class="list-group-item">
          <h5 class="list-group-item-heading">大唐电信集团荣获"中国企业文化建设典范十强"奖 <small>[2014-12-15]</small></h5>
          <p class="list-group-item-text"></p>
        </a>
        <a href="#" class="list-group-item">
          <h5 class="list-group-item-heading">大唐电信集团荣获"中国企业文化建设典范十强"奖 <small>[2014-12-15]</small></h5>
          <p class="list-group-item-text"></p>
        </a>
        <a href="#" class="list-group-item">
          <h5 class="list-group-item-heading">大唐电信集团荣获"中国企业文化建设典范十强"奖 <small>[2014-12-15]</small></h5>
          <p class="list-group-item-text"></p>
        </a>
        <a href="#" class="list-group-item">
          <h5 class="list-group-item-heading">大唐电信集团荣获"中国企业文化建设典范十强"奖 <small>[2014-12-15]</small></h5>
          <p class="list-group-item-text"></p>
        </a>
        <a href="#" class="list-group-item">
          <h5 class="list-group-item-heading">大唐电信集团荣获"中国企业文化建设典范十强"奖 <small>[2014-12-15]</small></h5>
          <p class="list-group-item-text"></p>
        </a>
        <a href="#" class="list-group-item">
          <h5 class="list-group-item-heading">大唐电信集团荣获"中国企业文化建设典范十强"奖 <small>[2014-12-15]</small></h5>
          <p class="list-group-item-text"></p>
        </a>
      </div>
    </div>
  </div>
  <div class="row more pull-right">
    <a href="#">更多新闻</a>
  </div>
</div>