<div class="container">
  <!-- <div class="col-md-3 hidden-sm hidden-xs"></div> -->
  <div class="col-md-12">
    <div class="about">
      <%= image_tag "picmain_about.jpg", class: "about-img" %>  
      <div class="about-content">
        <h3>公司简介</h3>
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大唐邦彦（上海）信息技术有限公司（简称大唐邦彦）是一家专注于移动互联网信息技术、大数据云平台、教育行业信息化和校企合作产教融合开发的高科技企业，公司成立于2014年，由大唐电信科技产业集团（电信科学技术研究院）投资建立。
        </p>
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大唐邦彦致力于移动互联网技术的开发与应用并积极投身教育事业，以产业引导教育改革，将科技创新成果与教育产业融合。大唐邦彦在以教育信息化促进人才培养的模式下不断发展与创新，为国家培养高素质的产业技术人才。
        </p>
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大唐邦彦与国际国内多所教育研究机构、高校建立战略伙伴关系，共建教育信息化体系。公司依托集团和企业大学将校企合作由原来的共建产教融合基地、人才创新基地等扩展到专业领域的人才培养，专业学科建设的设计与实施、在线教育平台的综合应用。实现产业需求与高校教育内容、教学过程的深度结合。
        </p>
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大唐邦彦继承了大唐电信科技产业集团“坚持自主创新，创造共同价值”的先进理念，聚集集团旗下众多优秀企业的技术、人力、产品、市场资源，充分发挥大型央企的行业领军优势，助力教育信息化的发展。
        </p>
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“创新、共享、合作”是大唐邦彦的核心价值观。未来伴随着国家教育领域的综合改革，大唐邦彦将不断创新应用移动互联网信息技术，为教育行业的信息化发展做出贡献。
        </p>
      </div>
    </div>
  </div>
</div>