<%= render partial: "enterp_bg" %>
<div class="project_content row">
  <div class="project_text">
    <h4 class="project-tt"><strong>大唐电子信息工程学院</strong></h4>
    <p>2015年我公司就与上海剑桥学院开始围绕本科层次如何进行专业共建进行探讨 , 随着双方合作的深入 , 建立以职业为需求为导向、以实践能力培养
    为重点、以产学研究结合为途径的应用型本科技能人才迫在眉睫。目前 , 企业、学校都处于关键的转型期 , 深度校企合作是培养企业需要人才的关键 。
    通过校企合作 , 学校以培养复合人型应用才为目标 , 提高学生职场竞争力 , 为企业提供未来技术骨干。</p>
    <p>2016年5月25日 , 我公司与上海剑桥学院合作共建的大唐电子信息工程学院揭牌仪式在上海剑桥学院成功举行。 大唐电子信息工程是我公司在本科
    层次共建的第一所二级学院 , 是我公司与上海剑桥学院全方位、多层次、互利双赢的产教融合校企合作项目 , 以软件工程专业、数学媒体技术专业和机电学院电子科学与技术（智能电子方向）专业为合作的基础 , 校企双方实现了共同制定人才培养方案 , 共同实施专业学科体系建设的深度合作的目标。此次共建应成为高校和大型的产业集团深度校企合作 ,  培养企业需求、可造、可塑的人才的尝试和典范。</p>
  </div>
  <div class="project_pc">
      <div class="col-md-6">
      <div class="team_list">
        <%= image_tag "project_1.png", width: "100%" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="team_list">
        <%= image_tag "project_2.png", width: "100%" %>
      </div>
    </div>
  </div>
</div>  