<div class="col-md-3 nav_list">
        <ul class="list-group">
          <li class="list-group-item cases_left_nav active"><strong>关于我们</strong></li>
          <li class="list-group-item list_item"><a href="#abouts/company">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp公司简介</a></li>
          <li class="list-group-item list_item"><a href="#about/dtby">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp邦彦文化</a></li>
          <li class="list-group-item list_item"><a href="#">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp团队介绍</a></li>
          <li class="list-group-item list_item"><a href="#about/job">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp招聘信息</a></li>
        </ul>
    </div>
