<div class="col-md-3 nav_list">
      <div class="col-md-12">
        <ul class="list-group">
          <li class="list-group-item cases_left_nav active"><strong>关于我们</strong></li>
          <li class="list-group-item list_item"><a href="#"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>公司简介</a></li>
          <li class="list-group-item list_item"><a href="#"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>邦彦文化</a></li>
          <li class="list-group-item list_item"><a href="#"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>团队介绍</a></li>
          <li class="list-group-item list_item"><a href="#"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>招聘信息</a></li>
        </ul>
      </div>
    </div>