<div class="col-md-3 nav_list">
        <ul class="list-group">
          <li class="cases_left_nav "><strong>关于我们</strong></li>
          <li class="list_item"><a href="#abouts/company">公司简介</a></li> <hr class="divider">
          <li class="list_item"><a href="#about/dtby">邦彦文化</a></li> <hr class="divider">
          <li class="list_item"><a href="#">团队介绍</a></li> <hr class="divider">
          <li class="list_item"><a href="#about/job">招聘信息</a></li> <hr class="divider">
        </ul>
    </div>