<div class="container-fluid abouts_bg">
  <%= image_tag "about_bg.png", width: "83%" %>
</div>
<div class="container-fluid gray-panel">
  <div class="container cases_content">
    <%= render partial: "us_left_nav" %>
    <div class="col-md-9">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading cases_show_t">
            <h3 class="panel-title"><%= image_tag "news_nav_icon.png"%><span>当前位置：首页/关于我们/邦彦文化</span></h3>
          </div>
          <div class="panel-body">
          <div class="dtby_slo">
            <button type="button" class="btn btn-lg btn-primary company_slogan">企业愿景</button><br/>
            <p>致力于人类信息的交互</p>
            <button type="button" class="btn btn-lg btn-primary company_slogan">企业使命</button><br/>
            <p>成为世界卓越企业</p>
            <button type="button" class="btn btn-lg btn-primary company_slogan">企业核心价值观</button><br/>
            <p>传承 沟通 合作</p>
            <p>传承——知识的传递，是企业能力提升的基础</p>
            <p>沟通——良好的沟通，是企业效率提升的纽带</p>
            <p>合作——团队的力量，是企业发展壮大的翅膀</p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 