<div class="container-fluid abouts_bg">
  <%= image_tag "about_bg.png", width: "83%" %>
</div>
<div class="container-fluid gray-panel">
  <div class="container cases_content">
    <%= render partial: "us_left_nav" %>
    <div class="col-md-9">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading cases_show_t">
            <h3 class="panel-title"><%= image_tag "news_nav_icon.png"%><span>当前位置：首页/关于我们/招聘信息</span></h3>
          </div>
          <div class="panel-body job_content">
            <div class="col-md-12">
              <div class="job_text">
                <strong>招聘职位：</strong> 会计<br/>
                <strong>发布时间：</strong> 2015-6-3（每天都更新成当日的时间）<br/>
                <strong>招聘要求：</strong> 工作地点：上海<br/>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp招聘人数：1人<br/><br/>
                <strong>岗位职能：</strong><br/>
                1、负责账务管理、核算和监督实施；<br/>
                2、负责日常财务、会计及税务工作；审核会计凭证、会计报表，督促按时完成税务申报以及年度审计工作，保证账务处理的合法合规； <br/>
                3、根据会计法和企业会计准则设置会计科目，进行月末对应科目结转，汇总凭证、登记总账和明细账，做到账证、账账、账表相符；<br/>
                4、负责账务处理及税务的协调工作，对公司的税收进行筹划；按时进行税金的计算、申报，按时报税，维系好和税务机关及银行的关系；<br/>
                5、依照流程加强对资产的购置、使用、调配、处理及账务信息进行及时有效的管理，确保资产账实相符。<br/><br/>
                <strong> 任职要求：</strong><br/>
                1、会计、财务管理等相关专业本科以上学历；3年以上工作经验；头脑清楚，逻辑性交强；<br/>
                2、熟悉企业会计制度，财务管理制度和会计核算流程的基本内容；熟悉资产负债表、利润表和现金流量表的编制和分析；了解相关法律法规，对财务工作有深刻的理解； 掌握增值税、营业税、所得税等各项税种处理业务、申报系统；<br/>
                3、熟练掌握财务管理软件（用友或金蝶）和办公室软件；<br/>
                4、有通信行业，软件行业从业经验者优先考虑。<br/><br/>

                <strong>职位诱惑：</strong>处于快速发展期的公司，提供广阔的发展平台。<br/> <br/>
                <strong>待遇：</strong><br/>
                福利待遇：五险一金，带薪年假，团队旅游，节日福利。<br/>
                薪资范围：4K-7K<br/><br/>
                <strong>联系人：</strong>叶小姐    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <strong>电话：</strong> 13162787916
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 