 <div class="container-fluid abouts_bg">
  <%= image_tag "about_bg.png", width: "83%" %>
</div>
<div class="container-fluid gray-panel">
  <div class="container cases_content">
    <%= render partial: "us_left_nav" %>
    <div class="col-md-9">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading cases_show_t">
            <h3 class="panel-title"><%= image_tag "news_nav_icon.png"%><span>当前位置：首页/关于我们/招聘信息</span></h3>
          </div>
          <div class="panel-body job_content">
            <div class="col-md-12">
              <div class="job_text">
                <strong>招聘职位：</strong> 移动通信培训讲师<br/>
                <strong>发布时间：</strong> 2015-6-3（每天都更新成当日的时间）<br/>
                <strong>招聘要求：</strong> 工作地点：上海<br/>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp招聘人数：2人<br/><br/>
                <strong>岗位职能：</strong><br/>
                1、负责移动通信日常授课，学员培训；<br/>
                2、负责移动通信实训室的维护；<br/>
                3、负责相关技术方案，文档和教材的撰写；<br/>
                4、负责移动通信相关业务售前，售后支持。<br/><br/>
                <strong> 任职要求：</strong><br/>
                1、本科，通信，电子信息，计算机或其他相关专业；<br/>
                2、一年及以上工作经验的移动通信工程技术人员，参加过移动通信职业技能培训的应届毕业生，在移动通信项目实习过并具备一定技能的应届毕生；<br/>
                3、可以长期在上海工作。<br/><br/>

                <strong>职位诱惑：</strong>处于快速发展期的公司，提供广阔的发展平台。<br/> <br/>
                <strong>待遇：</strong><br/>
                工资面议；<br/>
                福利待遇：五险一金，带薪年假，团队旅游，节日福利。<br/><br/>
                <strong>联系人：</strong>叶小姐    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <strong>电话：</strong> 13162787916
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 