<%= render partial: "about_bg" %>
  <div class="container cases_content">
  <div class="row">
    <%= render partial: "us_left_nav" %>
    <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading cases_show_t">
            <h3 class="panel-title"><%= image_tag "news_nav_icon.png"%><span>当前位置：首页/关于我们/团队介绍</span></h3>
          </div>
          <div class="panel-body">
            
          </div>
        </div>
    </div>
  </div>
  </div>