<%= render partial: "about_bg" %>
  <div class="container cases_content">
  <div class="row">
    <%= render partial: "us_left_nav" %>
    <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading cases_show_t">
            <h3 class="panel-title"><%= image_tag "news_nav_icon.png"%><span>当前位置：首页/关于我们/招聘信息</span></h3>
          </div>
          <div class="panel-body job_content">
            <div class="clol-md-12">
              <div class="job_text">
                <strong>招聘职位：</strong> Android培训讲师<br/>
                <strong>发布时间：</strong> 2015-6-3（每天都更新成当日的时间）<br/>
                <strong>招聘要求：</strong> 工作地点：上海<br/>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp招聘人数：2人<br/><br/>
                <strong>岗位职能：</strong><br/>
                1.负责android方面培训的日常授课以及课程研发和升级，教材的编写；<br/>
                2.讨论教学相关项目的需求，参与案例设计，完成设计文档以及核心模块编写；<br/>
                3.解决案例开发过程中的实际项目和业务问题；<br/>
                4.参与新技术预研并做技术分享；<br/><br/>
                <strong> 任职要求：</strong><br/>
                1. 计算机相关专业，本科及以上学历；<br/>
                2. 精通Java开发，熟悉OOP/ODP等设计方法，能够独立承担设计、编码、测试工作；<br/>
                3. 多年J2ME开发经验，熟悉socket tp/xml ，2年Android开发经验；<br/>
                4. 熟悉Mulitimedia、OpenGL/ES、Webkit、GPS、AGPS、DRM、Bluetooth、Wifi；<br/>
                5.能主动与学生沟通，关心学生，并督促学生认真学习；<br/>
                6.普通话标准，语言表达能力强，逻辑思维清晰，具有优秀的沟通技巧。<br/>
                7.热爱教育事业，有良好的敬业心；有相关授课经验者优先。<br/><br/>

                <strong>职位诱惑：</strong>处于快速发展期的公司，提供广阔的发展平台；后期可入职到学校，工作稳定，可同时享受学校的相关福利待遇。<br/> <br/>
                <strong>待遇：</strong><br/>
                福利待遇：五险一金，带薪年假，团队旅游，节日福利。<br/>
                薪资范围：6K-10K<br/><br/>
                <strong>联系人：</strong>叶小姐    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <strong>电话：</strong> 13162787916
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div> 