<%= render partial: "about_bg" %>
  <div class="container cases_content">
  <div class="row">
    <%= render partial: "us_left_nav" %>
    <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading cases_show_t">
            <h3 class="panel-title"><%= image_tag "news_nav_icon.png"%><span>当前位置：首页/关于我们/招聘信息</span></h3>
          </div>
          <div class="panel-body job_content">
            <div class="col-md-12">
              <div class="job_text">
                <strong>招聘职位：</strong> 嵌入式工程师<br/>
                <strong>发布时间：</strong> 2015-6-3（每天都更新成当日的时间）<br/>
                <strong>招聘要求：</strong> 工作地点：上海<br/>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp招聘人数：1人<br/><br/>
                <strong>岗位职能：</strong><br/>
                1、负责嵌入式产品的软硬件的需求分析、总体方案设计和测试方案的撰写；<br/>
                2、负责核心代码的编写与测试，及软件实现的系统框架设计；<br/>
                3、参与产品技术问题的定位、分析和解决；<br/>
                4、参与新项目的软件硬件的开发、规划工作。<br/><br/>
                <strong> 任职要求：</strong><br/>
                1、计算机、电子信息、通信工程相关专业，1年以上嵌入式软件开发经验；<br/>
                2、熟练掌握C/C++语言，良好的编程风格及文档编写习惯;<br/>
                3、有实际的嵌入式Linux应用程序开发经验，有嵌入式Linux驱动开发经验，能独立编写、移植或修改驱动程序;<br/>
                4、英语良好，能熟练阅读英文技术资料;<br/>
                5、具有一定的硬件基础，能够很好的理解硬件电路设计原理，能看懂芯片手册；<br/>
                6、有嵌入式硬件设计经验优先;<br/>
                7、熟悉web、http协议，以及熟悉互联网领域者优先。<br/><br/>

                <strong>职位诱惑：</strong>处于快速发展期的公司，提供广阔的发展平台。<br/> <br/>
                <strong>待遇：</strong><br/>
                福利待遇：五险一金，带薪年假，团队旅游，节日福利。<br/>
                薪资范围：5K-10K<br/><br/>
                <strong>联系人：</strong>叶小姐    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <strong>电话：</strong> 13162787916
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div> 