@import "variables";
@import "bootstrap";
.footer{
  padding: 20px 0;
  ul > li{
    height: 120px;
    padding: 5px 15px;
    border-left: 1px solid $color-gray;
  }
  img{
    width: 100px;
    float: right;
    margin: 10px 0 10px 50px;
  }
}