@import "variables";
@import "bootstrap";

#menuContent {
  .dropdown-menu {
    background: $color-blue;
    li {
      a {
        color: #fff;
        line-height: 2.5;
      }

      a:hover {
        color: #f39800;
      }
    }
  }
}