@import "variables";
@import "bootstrap";
.abouts_bg {
  padding:3px 0 10px 0;
  text-align:center;
}
.company_logo {
  text-align:center;
}
.company_text {
  color:#777;
  line-height:35px;
  padding-bottom:20px;
}
.dtby_slo {
  padding:20px 0 40px 0;
  .company_slogan {
    font-size:16px;
    line-height:4px;
    margin-bottom:10px;
    background:#337aba!important;
    border-radius:50px;
  }
  p {
    font-size:18px;
    font-weight:500;
    padding-left:10%;
  }
}
.job_content {
  padding-bottom:160px!important;
  .job_text {
    line-height:30px;
  }
  .job_list {
    border-bottom-style:dashed;
    margin-top:-10px!important;
    td {
      font-size:14px;
      border:none;
      border:1px;
      border-bottom-style:dashed;
    }
  }
}