@import "variables";
@import "bootstrap";
.abouts_bg {
  padding:3px 0 10px 0;
}
.about-right-body {
 border:1px solid $color-gray;
  .right-head {
    img {
      padding:0 10px 0 20px;
    }
    height:36px;
    line-height:36px;
    border-bottom:1px solid $color-gray;
    background:url('/assets/news_right_head_bg.png') left top repeat!important;
  }
}
.job_info {
  text-decoration:none;
  color:#777;
  border:1px;
  line-height:30px;
  border-bottom-style:dashed;
  border-bottom-color:$color-gray;
  }
.company_logo {
  text-align:center;
}
.company_text {
  color:#777;
  line-height:35px;
  padding-bottom:20px;
}
.dtby_slo {
  padding:20px 0 40px 0;
  .company_slogan {
    font-size:16px;
    line-height:4px;
    margin-bottom:10px;
    background:#337aba!important;
    border-radius:50px;
  }
  p {
    font-size:18px;
    font-weight:500;
    padding-left:10%;
  }
}
.job_content {
  padding-bottom:160px!important;
  .job_text {
    line-height:30px;
    .num {
      text-indent:80px;
    }
  }
  .job_list {
    color:#776;
  }
}