@import "variables";
@import "bootstrap";
.college_content {
  padding:0 20px 0 20px;
  .video_win {
    padding:20px 10px;
  }
.college_text {
  padding:30px 15px 10px 15px;
  p{
    line-height:30px;
    text-indent:30px;
  }
  .college-tt {
    padding-bottom:20px;
    text-align:center;
    color:$color-blue;
  }
}
}
.show_pc {
  padding:30px 50px 20px 50px!important;
  img {
    padding:5px;
    background-color:#fff;
    border:1px solid $color-gray;
    border-radius:5px;
  }
}