// Place all the styles related to the education controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
@import "bootstrap";

.education{
	padding-top: 10px;
	h3 {
		padding: 30px;
		text-align: center;
	}
	.education-platform {
		background: $color-gray-bg;
		font-size: 16px;
		.platform-content {
			p {
				line-height: 2.3;
				text-indent: 2em;
			}
		}
		
	}

	.education-model {
		background: $color-gray-ee;
		padding-bottom: 40px;

		.model-content {
			height: 340px;
			position: relative;

			.model-head {
				text-align: center;
				width: 254px;
				height: 52px;
				background: image-url("platform_head.png");
				position: absolute;
				margin-left: 32px;
				h4 {
					color: #8b99cb;
					line-height: 32px;
				}
			}

			.model-body {
				width: 316px;
				height: 310px;
				margin-top: 26px;
				padding: 46px 10px;
				background: image-url("platform_body.png");
				p {
					text-indent: 2em;
				}
			}
		}
		
	}
}
