// Place all the styles related to the education controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.education{
	h3 {
		padding: 30px;
		text-align: center;
		.title-hr {
			border: 2px solid #6ca0f6;
			width: 240px;
			margin-top: 5px;
			margin-bottom: 0px;
		}
		.title-hr-short {
			border: 3px solid #6ca0f6;
			width: 65px;
			margin-top: 0px;
			margin-bottom: 0px;
		}
	}
	.education-platform {
		background: $color-gray-bg;
		font-size: 15px;
		.platform-content {
			p {
				line-height: 2.3;
				text-indent: 2em;
			}
		}
		
	}

	.education-model {
		background: $color-gray-ee;
		padding-bottom: 40px;

		.model-content {
			height: 340px;
			position: relative;
			color: #676767;
			.model-head {
				text-align: center;
				width: 254px;
				height: 52px;
				background: image-url("platform_head.png");
				margin: 0 auto -55px auto;
				position: relative;
				z-index: 999;
				h4 {
					color: #8b99cb;
					line-height: 52px;
				}
			}

			.model-body {
				width: 316px;
				height: 310px;
				margin: 26px auto 0 auto;
				padding: 46px 15px;
				text-align: justify;
				background: image-url("platform_body.png");
				p {
					text-indent: 2em;
				}
			}
		}
		
	}
}
