// Place all the styles related to the enterprise controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
@import "bootstrap";

.table {
	border-bottom: 1px solid $table-border-color;
	.bg_color {
		background: $table-bg-accent;
	}
}
//career channel
.my-col{
	margin-top: 15px;
	padding-left: 7.5px !important;
	padding-right: 7.5px !important;
	.channel-item{
		height: 108px;
		background-color:#fff;
		border: 1px solid $color-gray;
		text-align: center;
		.channel-logo{			
			line-height: 108px;
			padding-right: 0;
		}
		.channel-name{
			font-size: 18px;
			padding-top: 40px;
		}
	}
}
.channel_content {
	padding-bottom:20px;
}
.text-center {
	img {
		width:80%;
	}
}
//laboratory construction
.lab{
	padding: 0 !important;
	padding-bottom:20px !important;
	.img{
		width: 100%;
	}
	.coop_text1 {
		line-height:26px;
		position:absolute;
		left:5%;
		top:12%;
	}
	.coop_text2 {
		line-height:26px;
		position:absolute;
		right:5%;
		top:12%;
	}
	.coop_text3 {
		line-height:26px;
		position:absolute;
		left:5%;
		bottom:17%;
	}
	.coop_text4 {
		line-height:26px;
		position:absolute;
		right:5%;
		bottom:17%;
	}
}