.gray-bg {
	background: rgba(0,0,0,0.03);
	padding: 30px 0;
	a:hover {
		text-decoration: none;
	}
	a {
		//opacity: 0.3;
		span.scheme {
			color: #7b7b7b;
			line-height: 28px;
			width: 60px;
      			margin: 0 auto;
			border-top: solid #383e4c 2px;
		}
		p.solution_pj {
			font-size: 16px;
			line-height: 16px;
			margin-top: 20px;
			font-weight: bold;
			color: #383e4c;
		}
    span {
			width: 158px;
			text-align: center;
			display: block;
			&.size {
				height: 132px;
				margin: 5px 0;
			}
			&.ict {
				background: image-url("solution-list-bg.png") no-repeat 8px 0;
			}
			&.mobile {
				background: image-url("solution-list-bg.png") no-repeat -183px 0;
			}
			&.web {
				background: image-url("solution-list-bg.png") no-repeat -378px 0;
			}
			&.thing {
				background: image-url("solution-list-bg.png") no-repeat -574px 0;
			}
			&.future {
				background: image-url("solution-list-bg.png") no-repeat -766px 0;
			}
			&.dtce {
				background: image-url("solution-list-bg.png") no-repeat -960px 0;
			}
		}
	}
	a.active {
		background: transparent;
		opacity: 1;
		span.scheme {
			color: #383d4d;
			line-height: 28px;
			width: 60px;
      margin: 0 auto;
			border-top: solid #383d4d 2px;
		}
		p.solution_pj {
			font-size: 16px;
			line-height: 16px;
			margin-top: 20px;
			font-weight: bold;
			color: #383d4d;
		}

		span {
			width: 158px;
			text-align: center;
			display: block;
			&.size {
				margin: 5px 0;
				height: 168px;
			}
			&.ict {
				background: image-url("solution-list-active.png") no-repeat -1px 0;
			}
			&.mobile {
				background: image-url("solution-list-active.png") no-repeat -196px 0;
			}
			&.web {
				background: image-url("solution-list-active.png") no-repeat -391px 0;
			}
			&.thing {
				background: image-url("solution-list-active.png") no-repeat -587px 0;
			}
			&.future {
				background: image-url("solution-list-active.png") no-repeat -784px 0;
			}
			&.dtce {
				background: image-url("solution-list-active.png") no-repeat -979px 0;
			}
		}
	}
}