@import "variables";
@import "bootstrap";

.bgc-gray{
	background-color: $color-gray-bg;
	padding: 20px 0;
}
.bgc-gray-dark{
	background-color: $color-gray-bg-dark;
	padding: 20px 0;
}
.banner-margin{
	margin-bottom: 10px;
}
.m-row{
	padding: 0 10px;
	.m-col{
		padding: 0 5px;
		margin-bottom: 5px;
	}
}
.bdshare-button-style0-16 a, .bdshare-button-style0-16 .bds_more {
    float: none !important;
}