@import "variables";
.bgc-gray {
    background-color: #ececee;
    padding: 20px 0;
}

.bgc-gray-dark {
    background-color: #d6d7d8;
    padding: 20px 0;
}

.banner-margin {
    margin-bottom: 10px;
}

.paragraph {
    p {
        margin-bottom: 0;
        text-indent: 30px; 
        line-height: 33px;  
    }
}

.m-row {
    padding: 0 10px;
    .m-col {
        padding: 0 5px;
        margin-bottom: 5px;
    }
}

.bdshare-button-style0-16 a,
.bdshare-button-style0-16 .bds_more {
    float: none !important;
}