// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
.home-title{
	margin: 20px auto;
	padding: 1px;
	width: 260px;
	border-bottom: 1px solid $color-gray;
	position: relative;
	.home-title-icon{
		width: 16px;
		position: absolute;
		bottom: -3px;
		left: 122px;
	}
}
//index
.reports{
	font-size: 13px;
	text-align: center;
	.table {
		border-bottom: 3px solid $color-gray-bg;
		> tbody > tr{
			height: 120px;
			> td{
				vertical-align: middle;
				border-top: 3px solid $color-gray-f3;
				img{
					width: 130px;
				}
				a{
					color: $color-black;
					&:hover{
						color:$color-blue-dark;
						text-decoration: none;
					}
				}
				.report-info{
					color: $color-gray-a3;
					height: 35px;
					overflow: hidden;
					text-overflow:ellipsis;
				}
			}
			.report-time{
				width: 180px;
				.report-day{
					font-size: 40px;
					width: 45px;
					margin: 0 auto;
					border-bottom: 1px solid $color-gray-border;
					line-height: 1.1;
				}
			}
			.report-img{
				width: 170px;
			}
		}
	}
	.report-more{
		 padding: 5px 0;
		 background-color: $color-gray-bg;
	}
}
.intro{
	img{
		width: 100%;
		position: relative;
	}
	.intro-content{
		color: $color-white;
		background:rgba(0,0,0,0.4);
		padding: 0 10px 10px 10px;
		height: 40px;
		overflow: hidden;
		position: absolute;
		right: 5px;
		left: 5px;
		bottom: 0px;
		transition:height 1s;
		-moz-transition:height 1s; /* Firefox 4 */
		-webkit-transition:height 1s; /* Safari and Chrome */
		-o-transition:height 1s; /* Opera */
	}
	a:hover{
		.intro-content{
			height: 100%;
			padding-top: 20px;
		}
	}
}
.remove {
	position: relative!important;
	left: 300px;
	top: -20px;
}
	
