// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.h-line {
	border-bottom: 1px solid $color-gray;
	span {
		clear: both;
		text-align: center;
	}
}

#index-intro {
  background-color: #eeeeee;
  
}

.intro {
  > div {
    padding-left: 2px;
    padding-right: 2px;
  }
  .thumbnail {
    padding: 0;
    img {
      width: 100%;
    }
    .caption {
      height: 200px;
      padding-left: 30px;
      padding-right: 30px;
      .intro-title {
        padding-bottom: 8px;
        border-bottom: 3px solid #1a5393;
      }
    }
  }

}
