// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

//index
.reports{
	font-size: 13px;
	text-align: center;
	.table {
		border-bottom: 3px solid $color-gray-bg;
		> tbody > tr{
			height: 120px;
			> td{
				vertical-align: middle;
				border-top: 3px solid $color-gray-f3;
				img{
					width: 130px;
				}
				a{
					color: $color-black;
					&:hover{
						color:$color-blue-dark;
						text-decoration: none;
					}
				}
				p{
					color: $color-gray-a3;
				}
			}
			.report-time{
				width: 180px;
				.report-day{
					font-size: 40px;
					width: 45px;
					margin: 0 auto;
					border-bottom: 1px solid $color-gray-border;
					line-height: 1;
				}
			}
			.report-img{
				width: 170px;
			}
		}
	}
	.report-more{
		 padding: 5px 0;
	}
}
.intro{
	img{
		width: 100%;
		position: relative;
	}
	.intro-content{
		color: $color-white;
		display: block;
		background:rgba(0,0,0,0.3);
		padding: 10px;
		height: 100%;
		position: absolute;
		top: 0px;
		right: 5px;
		left: 5px;
		&:hover{
			display: hidden;
		}
	}
}