// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
.content{
	background-color: #fff;
	a{
		color: $color-gray-a3;
	}
	.left-head{
		background-color: $color-blue-dark;
		height: 50px;
		line-height: 50px;
		color: #fff;
	}
	.left-body{
		border:1px solid $color-gray;
		padding: 5px 0;
		.active{
			background: url(/assets/nav_icon.png) no-repeat;
			background-size: 40% 40%;
			background-position: 30% 40%;
		}
		.nav > li > a:hover, .nav > li > a:focus {
			text-decoration: none;
			color: $color-blue-dark;
			background-color: transparent;
		}
	}
	.right-head{
		height:40px;
		line-height: 40px;
		padding: 0 20px;
		background-image: url(/assets/news_right_head_bg.png);
		background-size: 100% 100%;
		border: 1px solid $color-gray;
		border-bottom: none;
		img{
			padding-bottom: 5px;
		}
	}
	.right-body{
		border:1px solid $color-gray;
		border-top:none;
		padding: 10px;
		.reports-index > div{
			overflow: hidden; 
			text-overflow:ellipsis;
			white-space:nowrap;
		}
		.nav-justified{
			padding-left: 0;
		}
		.news-content{
			padding: 10px 30px;
			line-height: 2;
		}
		h2{
			color: $color-blue;
		}
	}
	.divider{
		margin: 0 10px 0 10px;
		border-width: 1px 0px 0px;
		border-style: dashed none none;
		border-color: $color-gray;
	}
}