// Place all the styles related to the solution controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

// solution/ict.scss
.top-bg img{
width: 100%;
}
.gray-bg{
	background: rgba(0,0,0,0.03);
	padding: 30px 0;
	img{
		padding-bottom: 10px;
	}
	font-weight: bold;
	font-size: 14px;
	a{
		color: #383e4c;
		.scheme{
			color: #7b7b7b;
			border-top:3px solid #383e4c;
		}
	}
	a:hover{
		color: #ff010d;
		text-decoration: none;
		}
}
.darkgray-bg{
	background: rgba(0,0,0,0.06);
	.row{
		margin: 20px 0 40px 0;
	}
	.ict_line{
		padding: 0 0;
	}
	.divided{
		border:3px solid #1e7bcb;
	}
	.ict_show{
		padding-top: 5px;
		font-size: 20px !important;
		font-weight: bold;
	}
	.ict_pic{
		margin-top: 20px ;
		margin-bottom:30px;
	}
}

// solution/commu.scss
.solution_title{
	padding: 30px 0;
}
.solution_engineer{
	padding-bottom: 20px;
	.solution_train{
		font-weight: bold;
		line-height: 3;
		font-size: 16px;
	}
}
.system_bg{
	background: url(/assets/solution_commu_courses.png) no-repeat;
	background-size: 90% 90%;
}
.advanges{
	background: url(/assets/solution_commu_scheme_blue.png) no-repeat;
	background-size: 100% 100%;
}
.solution_line{
	padding-bottom: 30px;
	margin-right: -40px;
}
.solution_case{
	font-weight: bold;
	color: $color-blue-dark;
	font-size: 20px;
}