// Place all the styles related to the solution controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

// solution/ict.scss
.top-bg img{
width: 100%;
}
.darkgray-bg{
	background: rgba(0,0,0,0.06);
	.row{
		margin: 20px 0 40px 0;
	}
	.ict_pic{
		margin-top: 20px ;
		margin-bottom:30px;
	}
	.ict_abstract{
		font-weight: bold;
		line-height: 2;
	}
}

// solution/commu.scss
.solution_title{
	padding: 30px 0;
}
.solution_engineer{
	padding-bottom: 20px;
	font-weight: bold;
	font-size: 16px;
	.train_base{
		position: relative;
		.practical_base{
		color: #fff;
		//background: rgba(0,0,0,0.1);
		text-align: center;
		position: absolute;
		top:70px; 
		right: 45px;
		}		
	}
	.system_course{
 		color: #fff;
 		font-size: 20px;
 	}
	.caption{
		margin-top: 5px;
		padding: 0 10px !important;
		p{
			text-align: justify;
		}
	}
	.thumbnail{
		padding-top: 10px;
		.advan_case{
			font-size: 14px;
		}
		.caption{
			height: 300px;
		}
	}
}
.solution_train{
	line-height:35px;
	font-weight: bold;
	color: #333;
}
.system_bg{
	background: url(/assets/solution_commu_courses.png) no-repeat;
	background-size: 100%  90%;
	height: 200px;
}
.advanges{
	background: url(/assets/solution_commu_scheme_blue.png) no-repeat;
	background-size: 100% 100%;
	height: 40px;
	line-height: 30px;
	text-align: center;
	margin: 0 -17px;
}
.solution_line{
	padding-bottom: 30px;
	margin-right: -40px;
}
.solution_case{
	font-weight: bold;
	color: $color-blue-dark;
	font-size: 28px;
}
.solution_bline{
	padding-top: 20px;
}
// webthing.scss
//futclass.scss
.title_bg{
	background: url(/assets/solution_title_bg.png) no-repeat;
	background-size: 100% 100%;
	font-size: 25px;
	font-weight: bold;
	padding-bottom: 5px;
}
.futclass{
	padding: 15px 0;
}
// dtce.scss
.certifi_sample{
	padding-bottom:30px;
	.table > thead:first-child > tr:first-child > th, .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th{
		vertical-align: middle;
	}
}
.bgray-bg{
	background: rgba(0,0,0,0.1);
}
.dtce_title_bg{
	background: url(/assets/dtce_title_bg.png) no-repeat;
	background-size: 100% 100%;
	font-size: 25px;
	font-weight: bold;
	padding-top: 5px;
}
.dtce_double{
	color: #333;
	line-height: 2;
}



