<%=render partial:"subhead"%>
<!-- solution of futclass -->
<div class="container">
	<div class="text-center solution_title">
		<span class="title_bg">&nbsp;&nbsp;未来教室解决方案&nbsp;&nbsp;</span>
	</div>
	<div class="row">
		<div class="col-md-6">
			<p class="solution_train">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大唐邦彦秉承“一切面向实战”的人员培养理念，不断探索及追求卓越。以广大客户需求为本，以ICT战略新兴行业人才培养方法、培养模式的研究和创新为己任，以培养一流的ICT专业人才为目标，全面实现移动互联网信息技术与教育融合是大唐邦彦的宏大愿景及使命。
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大唐邦彦秉承“一切面向实战”的人员培养理念，不断探索及追求卓越。以广大客户需求为本，以ICT战略新兴行业人才培养方法、培养模式的研究和创新为己任，以培养一流的IC
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大唐邦彦秉承“一切面向实战”的人员培养理念，不断探索及追求卓越。以广大客户需求为本，以ICT战略新兴行业人才培养方法、培养模式的研究和创新为己任，以培养一流的IC
			</p>
		</div>
		<div class="col-md-6">
			<%=image_tag "solution_futureclass_solve.png"%>
		</div>
	</div>
</div>
<!-- use case -->
<div class="gray-bg">
	<div class="container">
		<div class="text-center solution_title">
			<span class="title_bg">&nbsp;&nbsp;应用案例&nbsp;&nbsp;</span>
		</div>
		<p class="solution_train">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大唐邦彦秉承“一切面向实战”的人员培养理念，不断探索及追求卓越。以广大客户需求为本，以ICT战略新兴行业人才培养方法、培养模式的研究和创新为己任，以培养一流的以广大客户需求为本，以ICT战略新兴行业人才培养方法、培养模式的研究和创新为己任，以培养一流的IC
		</p>
		<div class="row futclass">
			<div class="col-md-6">
				<%=image_tag "solution_futureclass_case1.png"%>
			</div>
			<div class="col-md-6 text-right">
				<%=image_tag "solution_futureclass_case2.png"%>
			</div>
		</div>
	</div>
</div>
