<%=render partial:"subhead"%>
<div class="container-fluid darkgray-bg">
	<div class="text-center solution_title">
		<span class="title_bg">&nbsp;&nbsp;&nbsp;&nbsp;ICT综合智慧展厅&nbsp;&nbsp;&nbsp;&nbsp;</span>
	</div>
	<div class="container ict_abstract paragraph">
		<p>ICT综合智慧展厅是当代数字展厅设计趋势，从功能性角度，可以分为功能介绍区、行业应用成果展示区、沙盘仿真演示区等诸多应用模块。它融合了云计算、物联网、移动通信、多媒体展示、三维互动展示等高新科技，实现信息自动感知、实时传送和信息处理，帮助智慧展厅使用者，达成精确化管理、全程服务、互动体验的目的。具有显示直观、理解方便、便于教学的特点，受到高校的青睐。</p>
		<p>ICT综合智慧展厅作为智慧城市的集中显示，利用声光电等多媒体手段展示RFID技术、传感器技术、控制技术、网络技术等物联网核心技术；</p>
      		<p>设备互动及展示采用多种触摸方式，包括电脑、触摸屏、PAD、手机操作。通过不同终端来操作展厅的各项展示物。</p>
	</div>
	<div class="col-md-8 col-md-offset-2 text-center solution_title">
		<%=image_tag "solution_ict_show.png"%>
	</div>		
</div>