<%=render partial:"subhead"%>
<div class="container-fluid darkgray-bg">
	<div class=" row ICT_top">
		<div class="col-md-5 ICT_line">
			<hr class="divided">
		</div>
		<div class="col-md-2 text-center ICT_show">
			<span style="padding-right:15px;"><%=image_tag "solution_blue.png"%></span>ICT综合智慧展厅<span style="padding-left:15px"><%=image_tag "solution_blue.png"%></span>
		</div>
		<div class="col-md-5 ICT_line">
			<hr class="divided">
		</div>
	</div>
	<div class="container">
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ICT综合智慧展厅是当代数字展厅设计趋势，从功能性角度，可以分为功能介绍区、行业应用成果展示区、ICT综合智慧展厅是当代数字展厅设计趋势，从功能性角度，可以分为功能介绍区、行业应用成果展示区、ICT综合智慧展厅是当代数字展厅设计趋势，从功能性角度，可以分为功能介绍区、行业应用成果展示区、ICT综合智慧展厅是当代数字展厅设计趋势，从功能性角度，可以分为功能介绍区、行业应用成果展示区、ICT综合智慧展厅是当代数字展厅设计趋势，从功能性角度，可以分为功能介绍区、行业应用成果展示区、ICT综合智慧展厅是当代数字展厅设计趋势，从功能性角度，可以分为功能介绍区、行业应用成果展示区、ICT综合智慧展厅是当代数字展厅设计趋</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;势，从功能性角度，可以分为功能介绍区、行业应用成果展示区、ICT综合智慧展厅是当代数字展厅设计趋势，从功能性角度，可以分为功能介	绍区、行业应用成果展示区、ICT综合智慧展厅是当代数字展厅设计趋势，从功能性角度，可以分为功能介绍区、行业应用成果展示区、ICT综合智慧展厅是当代数字展厅设计趋势，从功能性角度，可以分为功能介绍区、行业应用成果展示区、ICT综合智慧展厅是当代数字展厅设计趋势，从功能性角度，可以分为功能介绍区、行业应用成果展示区、
		</p>
	</div>
	<div class="row ICT_pic">
		<div class="col-md-8 col-md-offset-2 text-center">
			<%=image_tag "ict-show.png"%>
		</div>
	</div>		
</div>