<%=image_tag "solution_banner.jpg",width:"100%", class:"banner-margin"%>

<div class="first-bg solution_title">
  <div class="container">
    <div class="row">
      <div class="col-md-12"><%=image_tag "vmn.png"%></div>
    </div>  
  </div>
</div>