<%=render partial:"subhead"%>
<!--abstract of  webthing -->
<div class="container solution_title">
	<div class="row ">
		<div class="col-md-6 text-right">			
			<p class="solution_train text-justify">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;随着物联网产业的发展和普及，急需大量的相关研究人才和技术人才，《教育部关于公布2011年普通高等教育高职高专专业设置备案结果的通知》批准了11 个省市自治区增设物联网应用技术专业。 物联网专业在高等学校和职业院校也越来越多的开设。<br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大唐邦彦集成设计了以传感器及RFID等物联网感知层为基础，Zigebee传输网络为载体，工业控制屏幕为反馈的ASHTON系列IOT物联网教学实验系统。通过各类实验，学生们可以逐步掌握传感器技术、UHF及2.4G微波RFID技术、工业组态及控制技术，从而掌握物联网的基础技术。<br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;物联网融合实训系统针对高等院校的物联网工程课程教学特点而设计，考虑到了高等院校学生的基础及专业培养方向，总体设计符合高等院校的人才培养需求。其目标是建设集教学、实验、创新、体验和研发功能于一体的物联网工程实验教学系统，强调物联网系统集成，物联网应用施工与安装调试，基本电子技术和网络技术的实际技能等。<br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;物联网融合实训系统特点：强基础、活模块、工业组态设计、实训平台与行业应用相结合、注重考核实际动手能力。
			</p>
		</div>
		<div class="col-md-6 text-left">
			<h3 class="solution_case text-center" style="padding-bottom:30px">物联网实训系统简介</h3>
			<%=image_tag "solution_webthing.png"%>
		</div>
	</div>
</div>
<div class="darkgray-bg solution_title">
	<div class="container">
		<div class="row">
			<div class="col-md-6 text-left futclass">
				<%=image_tag "solution_things_web_equip.png"%>
			</div>
			<div class="col-md-6">
				<h3 class="solution_case text-center solution_title">物联网融合实训系统设备介绍</h3>
				<p class="solution_train">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 物联网融合实训系统整套设备采用钢铁结构组成实训环境，柜式设计。系统分为五个区域：感知区、网络区、RFID区、控制区和电脑区。区域层次划分清晰，内部走线整齐美观，各部分带有防尘装置，内嵌PC显示器。
				</p>
			</div>
		</div>
	</div>	
</div>	

