<%=render partial:"subhead"%>
<!--abstract of  webthing -->
<div class="container">
	<div class="row solution_title">
		<div class="col-md-7">
			<h3 class="solution_case text-center solution_title">物联网实训系统简介</h3>
			<p class="solution_train">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大唐邦彦秉承“一切面向实战”的人员培养理念，不断探索及追求卓越。以广大客户需求为本，以ICT战略新兴行业人才培养方法、培养模式的研究和创新为己任，以培养一流的ICT专业人才为目标，全面实现移动互联网信息技术与教育融合是大唐邦彦的宏大愿景及使命。
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大唐邦彦秉承“一切面向实战”的人员培养理念，不断探索及追求卓越。以广大客户需求为本，以ICT战略新兴行业人才培养方法、培养模式的研究和创新为己任，以培养一流的ICT专业人才为目标，全面实现移动互联网信息技术与教育融合是大唐邦彦的宏大愿景及使命。
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大唐邦彦秉承“一切面向实战”的人员培养理念，不断探索及追求卓越。以广大客户需求为本，以ICT战略新兴行业人才培养方法、培养模式的研究和创新为己任，以培养一流的ICT专业人才为目标，全面实现移动互联网信息技术与教育融合是大唐邦彦的宏大愿景及使命。
			</p>
		</div>
		<div class="col-md-5">
			
		</div>
	</div>
</div>
<div class="gray-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<%=image_tag "solution_things_web_equip.png"%>
			</div>
			<div class="col-md-6">
				<h3 class="solution_case text-center solution_title">物联网融合实训系统设备介绍</h3>
				<p class="solution_train">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;依托大唐大电信集团强大支撑，大唐邦彦拥有一批高素质的资深专业技术培训教师，他们是ICT领域的专家，负责过大中型的项目，多年来已经培养了大批专业技术人才，并受到业界的广泛赞誉。
				</p>
			</div>
		</div>
	</div>	
</div>	

